@model MovieMe.ViewModels.FilmUpdateViewModel
    <head>
    <link rel="stylesheet" href="~/Content/chosen.css" />
    </head>
@{ Layout = null; }
@Html.HiddenFor(model=>model.Id)
@using (Html.BeginForm("Update", "Film", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
@Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="row">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfRelese, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="row">
            @Html.EditorFor(model => model.DateOfRelese, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateOfRelese, "", new { @class = "text-danger" })
        </div>
    </div>
     <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="row">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>
     <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="row">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>
     <div class="form-group">
        @Html.LabelFor(model => model.IMDBRating, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="row">
            @Html.EditorFor(model => model.IMDBRating, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IMDBRating, "", new { @class = "text-danger" })
        </div>
    </div> 
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="row">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div> 
    <div class="form-group">
        <label class="control-label col-md-6" for="DirectorId">Director</label>        
        <div class="texte-center row">
            @Html.DropDownList("DirectorId", (IEnumerable<SelectListItem>)ViewBag.Directors, null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-6" for="ProducerId">Producer</label>        
        <div class="texte-center row">
            @Html.DropDownList("ProducerId", (IEnumerable<SelectListItem>)ViewBag.Producers, null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-6" for="ActorsSelectedIds">Actors</label>        
        <div class="texte-center row">
            @Html.ListBoxFor(model => model.ActorsSelectedIds, new MultiSelectList(ViewBag.Actors, "Value", "Text",Model.SelectedActors.Select(x=>x.Value)), new { @class = "form-control chosen-select", multiple = "multiple" })

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-6" for="GenreId">Genre</label>        
        <div class="texte-center row">
            @Html.DropDownList("GenreId", (IEnumerable<SelectListItem>)ViewBag.Genres, null, new { @class = "form-control" })
        </div>
    </div>
    
        <div class="form-group">
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Save" />
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>                  

}

 <script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".chosen-select").chosen();
    });
</script>
      

  <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"
            type="text/javascript">
    </script>

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"
            type="text/javascript">
    </script>
 


<style>
    .form-control{
        margin-left:5%;
    }
</style>